<!DOCTYPE html>
<html lang="es">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <main class="mainHome">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/img/images (1).jpg"
              class="d-block w-100"
              alt="producto 1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/img/images (2).jpg"
              class="d-block w-100"
              alt="producto 2"
            />
          </div>
          <div class="carousel-item">
            <img src="/img/images.jpg" class="d-block w-100" alt="producto 3" />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <section class="cuotasHome">
        <i class="fas fa-bars"></i>
        <div>
          <p>Mismo precio en hasta 6 cuotas</p>
          <p class="promoBancaria">Ver promociones bancarias</p>
        </div>
      </section>
      <!--  SECCION ULTIMA VISITA<section class="section">
        <h3>Basado en tu ultima visita</h3>
        <article class="article">
          <a href="/products/detail"
            ><img
              class="imagenProduct"
              src="/img/images/img-cafetera-moulinex.jpg"
          /></a>
          <h4>$5.000</h4>
          <p>40% off</p>
          <p>Cafetera moulinex</p>
        </article>
        <article class="article">
          <img
            class="imagenProduct"
            src="/img/images/img-macbook-pro-2019.jpg"
          />
          <h4>$230.000</h4>
          <p>20% off</p>
          <p>Notebook Hp</p>
        </article>
        <article class="article">
          <img
            class="imagenProduct"
            src="/img/images/img-samsung-galaxy-s10.jpg"
          />
          <h4>$70.500</h4>
          <p>10% off</p>
          <p>Samsung j7</p>
        </article>
        <article class="article">
          <img
            class="imagenProduct"
            src="/img/images/img-tv-samsung-smart.jpg"
          />
          <h4>$23.000</h4>
          <p>15% off</p>
          <p>TV Samsung 43"</p>
        </article>
      </section>-->
      <section class="sectionHomeOfertas">
        <h3>Ofertas</h3>
        <article class="article">
          <img
            class="imagenProduct"
            src="/img/images/img-cafetera-moulinex.jpg"
          />
          <div>
            <h4>$5.000</h4>
            <p>40% off</p>
            <p>Cafetera moulinex</p>
          </div>
        </article>
        <article class="article">
          <img
            class="imagenProduct"
            src="/img/images/img-macbook-pro-2019.jpg"
          />
          <div>
            <h4>$230.000</h4>
            <p>20% off</p>
            <p>Notebook Hp</p>
          </div>
        </article>
      </section>
      <section class="sectionHomeCrearCuenta">
        <p>¡Creá una cuenta y mejorá tu experiencia!</p>
        <button type="submit">
          <a href="/users/register">Crear cuenta</a>
        </button>
        <div class="consultaSiTieneCuenta">
          <p>¿Ya tiene cuenta?</p>
          <a href="/users/login">Ingresa</a>
        </div>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
