/*-------------------padding y border forman parte del width en todo el sitio------------*/
* {
  box-sizing: border-box;
}

/*-------------------------------------Inicia CSS del header----------------------*/
.headerMain {
  font-family: "Roboto", arial;
  font-size: small;
  background-color: #fff159;
}
.headerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}
.imagenHeaderLogo {
  width: 40px;
}
.localication {
  border-top: gray;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
}
.localication p {
  margin: 0;
}

/*-----------------------------------Inicia CSS del footer----------------------------*/

.promoDeApp {
  font-family: "Roboto", arial;
  font-size: small;
  background-color: #fff159;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.imagenFooter {
  border-radius: 20%;
  padding: 9px 4px;
  box-shadow: 0 0 2px 0.5px grey;
  margin-right: 12px;
}
.imagenFooterLogo {
  width: 35px;
}
.promoDeApp p {
  margin: 0;
}

.legales {
  padding-left: 32px;
  padding-right: 32px;
}
.legales p {
  display: inline;
  font-size: small;
  font-family: "roboto", arial;
}
.ulLinks {
  display: flex;
  justify-content: center;
}
.ulListaLinks {
  list-style: none;
}
.ulLinkLoginAndRegister {
  list-style: none;
  display: flex;
  color: rgb(44, 92, 248);
  justify-content: center;
}
.ulLinkLoginAndRegister ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
/*---------------------------------------Inicia CSS del home-------------------------------*/
.mainHome {
  background-color: rgb(216, 216, 216);
}
.imagenProduct {
  width: 250px;
}
.cuotasHome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuotasHome p {
  margin: 0;
  margin-left: 20px;
}
.promoBancaria {
  color: blue;
}
.sectionHomeOfertas {
  background-color: white;
  margin: 20px;
  padding: 10px;
  padding-left: 15;
  padding-right: 0;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
}
.article {
  border-color: rgb(171, 171, 171);
  border-style: solid;
  border-width: 0.5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0;
  display: flex;
  padding: 20px;
  padding-left: 0;
  justify-content: left;
}
.article img {
  width: 20vw;
  margin-right: 15px;
}
.article p {
  margin: 0;
}

.sectionHomeCrearCuenta {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  text-align: center;
  justify-content: center;
}
.sectionHomeCrearCuenta p {
  margin: 0;
}
.sectionHomeCrearCuenta button {
  margin: 4px 0px 4px;
  width: 100%;
  color: white;
  background-color: rgb(36, 126, 216);
  border-radius: 7px;
}
.sectionHomeCrearCuenta button a {
  color: white;
  text-decoration: none;
}
.consultaSiTieneCuenta {
  display: flex;
  justify-content: center;
}
.consultaSiTieneCuenta a {
  text-decoration: none;
}
/*--------------------------------------Inicia CSS del register-------------------------------*/

.RegisterCajaMain {
  background-color: rgb(216, 216, 216);
}
.RegisterMain {
  background-color: white;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  justify-content: left;
}
.labelRegisterUser {
  display: block;
}

/*--------------------------------------Inicia CSS del login-------------------------------*/
.labelLoginUser {
  display: block;
}
.loginButton {
  margin-top: 10px;
  margin-bottom: 10px;
}
.loginTitulo {
  text-align: center;
}
.loginCambioDeContraseña {
  text-align: center;
}
.loginCajaMain {
  background-color: rgb(216, 216, 216);
}
.loginMain {
  background-color: white;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(216, 216, 216);
  justify-content: left;
}
