<!DOCTYPE html>
<html lang="es">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>
    <main>
      <section class="sectio">
        <h3>Basado en tu ultima visita</h3>
        <article class="article">
          <img
            class="imagenHeaderLogo"
            src="/img/images/img-cafetera-moulinex.jpg"
          />
          <h4>$5.000</h4>
          <p>40% off</p>
          <p>Cafetera moulinex</p>
        </article>
        <article class="article">
          <img
            class="imagenHeaderLogo"
            src="/img/images/img-macbook-pro-2019.jpg"
          />
          <h4>$230.000</h4>
          <p>20% off</p>
          <p>Notebook Hp</p>
        </article>
        <article class="article">
          <img
            class="imagenHeaderLogo"
            src="/img/images/img-samsung-galaxy-s10.jpg"
          />
          <h4>$70.500</h4>
          <p>10% off</p>
          <p>Samsung j7</p>
        </article>
        <article class="article">
          <img
            class="imagenHeaderLogo"
            src="/img/images/img-tv-samsung-smart.jpg"
          />
          <h4>$23.000</h4>
          <p>15% off</p>
          <p>TV Samsung 43"</p>
        </article>
      </section>
      <h3>Ofertas</h3>
      <article class="article">
        <img
          class="imagenHeaderLogo"
          src="/img/images/img-cafetera-moulinex.jpg"
        />
        <h4>$5.000</h4>
        <p>40% off</p>
        <p>Cafetera moulinex</p>
      </article>
      <article class="article">
        <img
          class="imagenHeaderLogo"
          src="/img/images/img-macbook-pro-2019.jpg"
        />
        <h4>$230.000</h4>
        <p>20% off</p>
        <p>Notebook Hp</p>
      </article>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
