<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>

    <main class="RegisterCajaMain">
      <div class="RegisterMain">
        <h3>DATOS DEL PRODUCTO</h3>

        <!--
        <% if (locals.errores) { %> <% errores.forEach(unError => { %>
        <p class="erroresRegister"><%= unError.msg %></p>
        <%}) %> <%}%>
        -->
        <form action="/products" enctype="multipart/form-data" method="POST">
          <input
            type="file"
            name="imagen"
            accept=".jpg"
            multiple
            id="InputBoton_subirFoto_productAdd"
            style="display: none"
          />
          <label for="InputBoton_subirFoto_productAdd">
            <img src="/img/subir foto perfil.jpg" width="100px" />
          </label>

          <br />

          <label class="titulo_productAdd magen_top_productAdd">
            Nombre del producto
          </label>
          <br />
          <input class="text_productAdd" type="text" name="nombreDelProducto" />
          <br />

          <label class="titulo_productAdd magen_top_productAdd"
            >Descripción</label
          >
          <br />
          <textarea name="descripcion" rows="6"></textarea>
          <br />

          <div class="options_productAdd">
            <section class="option_left_productAdd">
              <label class="titulo_productAdd magen_top_productAdd">
                Tipo
              </label>

              <br />

              <select name="tipoDeProducto">
                <option>Producto</option>
                <option>Vehiculos</option>
                <option>Inmuebles</option>
                <option>Servicios</option>
              </select>

              <br />
              <label class="titulo_productAdd magen_top_productAdd">
                Categoria
              </label>

              <br />
              <select name="categoriaDeProducto">
                <option>Vehiculos</option>
                <option>Inmuebles</option>
                <option>Supermercado</option>
                <option>Tecnologia</option>
                <option>Hogar y muebles</option>
                <option>Electrodomesticos</option>
                <option>Herramientas</option>
                <option>Construccion</option>
                <option>Deportes y fitness</option>
                <option>Accesorios para vehiculos</option>
                <option>Moda</option>
                <option>Juegos y juguetes</option>
                <option>Bebes</option>
                <option>Belleza y cuidado personal</option>
                <option>Salud y equipamiento medico</option>
                <option>Industrias y oficinas</option>
                <option>Agro</option>
                <option>Productos sustentables</option>
                <option>Servicios</option>
              </select>

              <br />
            </section>
          </div>
          <label class="titulo_productAdd magen_top_productAdd"> Marca </label>
          <br />
          <input class="text_productAdd" type="text" name="marcaDelProducto" />
          <br />
          <label class="titulo_productAdd magen_top_productAdd"> Modelo </label>
          <br />
          <input class="text_productAdd" type="text" name="modeloDelProducto" />

          <div>
            <label type="text" class="titulo_productAdd">Precio:</label>
            <br />

            <input
              class="precio_text_productAdd"
              type="number"
              name="precioDelProducto"
            />

            <hr class="magen_top_productAdd" />
          </div>

          <button type="submit" class="Login_Button_productAdd">Enviar</button>

          <button type="reset" class="Login_Button_productAdd">Cancelar</button>
        </form>
      </div>
    </main>
    <%- include ('./partials/footer') %>
  </body>
</html>
