<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> 
    <main>
      <div class="LoginCajaMain">
        <div class="LoginMain">
       
          <h3 class="LoginTitulo">Iniciá tu sesión en Mercadito liebre</h3>
          <div class="LoginFormulario">
            <form action="/users/login" method="POST">
              <p>
                <label>Correo electrónico</label>

                <input type="email" name="emailLogin" required />
              </p>
              <p>
                <label>Contraseña</label>

                <input type="password" name="contrasenaLogin" required />
              </p>

              <a href="">¿Olvidaste tu Contraseña?</a>

              <button type="submit" class="LoginButton">Ingresar</button>
              <label for="">Recuerdame</label>
              <input
                class="LoginCheckbox"
                type="checkbox"
                name="recuerdame"
              /><br />
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
