<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>
    <main class="loginCajaMain">
      <div class="loginMain">
        <h3 class="loginTitulo">Iniciá tu sesión en Mercadito liebre</h3>

        <form action="/users/login" method="POST">
          <label class="labelLoginUser">Correo electrónico</label>
          <input type="email" name="emailLogin" />

          <label class="labelLoginUser">Contraseña</label>
          <input type="password" name="contrasenaLogin" />
          <br />
          <label for="recuerdame">Recuerdame</label>
          <input type="checkbox" name="recuerdame" id="recuerdame" />

          <br />
          <button type="submit" class="loginButton">Ingresar</button>
          <br />

          <p class="loginCambioDeContraseña">
            <a href="">¿Olvidaste tu Contraseña?</a>
          </p>
        </form>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
