<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>

    <main class="RegisterCajaMain">
      <div class="RegisterMain">
        <h2>Crear cuenta</h2>
        <img src="/images/imagen_formulario.png" />
        <% if (locals.errores) { %> <% errores.forEach(unError => { %>
        <p><%= unError.msg %></p>
        <%}) %> <%}%>

        <form action="/users" enctype="multipart/form-data" method="POST">
          <div>
            <div id="div_file_productAdd">
              <div>
                <p id="texto_boton_subir_productAdd">Subir foto de perfil</p>
                <input
                  type="file"
                  name="imagen"
                  accept=".jpg"
                  multiple
                  id="InputBoton_subirFoto_productAdd"
                /><br />
              </div>
            </div>
          </div>
          <p>
            <label class="labelRegisterUser">Tu nombre</label>
            <input
              type="text"
              name="nombre"
              placeholder="Nombre y Apellido"
              minlength="2"
              required
            />
          </p>

          <p>
            <label class="labelRegisterUser">Correo electrónico</label>
            <input
              type="email"
              name="email"
              placeholder="Ejemplo@email.com"
              required
            />
          </p>

          <p>
            <label class="labelRegisterUser">Contraseña</label>
            <input
              type="password"
              name="contrasena"
              placeholder="Mínimo 8 caracteres"
              minlength="8"
              required
            />
          </p>

          <button type="submit">Continuar</button>

          <p>
            Al crear una cuenta, aceptas las
            <a href="">Condiciones de Uso&nbsp;</a> y el
            <a href="">Aviso de Privacidad&nbsp;</a> de www.mercaditoliebre.com.
          </p>
          <p>
            ¿Ya tienes una cuenta? <a href="/users/login">Iniciar sesión</a>
          </p>
        </form>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
