<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/header') %>

    <main class="RegisterCajaMain">
      <div class="RegisterMain">
        <h2>Crear cuenta</h2>
        <!-- 
        <% if (locals.errores) { %> <% errores.forEach(unError => { %>
        <p><%= unError.msg %></p>
        <%}) %> <%}%>
        -->

        <form action="/users" enctype="multipart/form-data" method="POST">
          <input
            type="file"
            name="imagen"
            accept=".jpg"
            multiple
            id="InputBoton_subirFoto_productAdd"
            style="display: none"
          />
          <label for="InputBoton_subirFoto_productAdd">
            <img src="/img/subir foto perfil.jpg" width="100px" />
          </label>

          <label class="labelRegisterUser">Provincia</label>
          <select name="provincia">
            <option>Buenos Aires</option>
            <option>Buenos Aires Capital</option>
            <option>Catamarca</option>
            <option>Chaco</option>
            <option>Chubut</option>
            <option>Cordoba</option>
            <option>Corrientes</option>
            <option>Entre Rios</option>
            <option>Formosa</option>
            <option>Jujuy</option>
            <option>La Pampa</option>
            <option>La Rioja</option>
            <option>Mendoza</option>
            <option>Misiones</option>
            <option>Neuquen</option>
            <option>Rio Negro</option>
            <option>Salta</option>
            <option>San Juan</option>
            <option>San Luis</option>
            <option>Santa Cruz</option>
            <option>Santa Fe</option>
            <option>Santiago del Estero</option>
            <option>Tierra del Fuego</option>
            <option>Tucuman</option>
          </select>
          <br />
          <label class="labelRegisterUser">Tu nombre</label>
          <input
            type="text"
            name="nombre"
            placeholder="Nombre y Apellido"
            minlength="2"
          />
          <br />
          <label class="labelRegisterUser">Correo electrónico</label>
          <input type="email" name="email" placeholder="Ejemplo@email.com" />
          <br />
          <label class="labelRegisterUser">Fecha de nacimiento</label>
          <input type="date" name="fechaNacimiento" />
          <br />
          <label class="labelRegisterUser">Contraseña</label>
          <input
            type="password"
            name="contrasena"
            placeholder="Mínimo 8 caracteres"
            minlength="8"
          />
          <br />
          <label class="labelRegisterUser">Confirmar contraseña</label>
          <input
            type="password"
            name="confirmarContrasena"
            placeholder="Mínimo 8 caracteres"
            minlength="8"
          />
          <br />
          <input
            type="checkbox"
            name="checkAceptaTerminos"
            id="checkAceptaTerminos"
            value="aceptaTerminos"
          />

          <label style="display: inline" for="checkAceptaTerminos">
            Acepto las <a href="">Condiciones de Uso&nbsp;</a> y el
            <a href="">Aviso de Privacidad&nbsp;</a> de
            www.mercaditoliebre.com.</label
          >
          <br />
          <br />
          <button type="submit">Continuar</button>
          <br />
          <br />
          <p>
            ¿Ya tienes una cuenta? <a href="/users/login">Iniciar sesión</a>
          </p>
        </form>
      </div>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
