<footer>
  <div class="promoDeApp">
    <div class="imagenFooter">
      <img class="imagenFooterLogo" src="/img/logo-mercado-liebre.svg" />
    </div>
    <p>¡Comprá y vendé con la app!</p>
  </div>
  <section class="ulLinks">
    <nav>
      <ul class="ulListaLinks">
        <li>Mi cuenta</li>
        <li>Historial</li>
        <li>Favoritos</li>
        <li>Categorias</li>
        <li>Ayuda</li>
      </ul>
    </nav>
    <nav>
      <ul class="ulListaLinks">
        <li>Mis compras</li>
        <li>Ofertas</li>
        <li>Tiendas oficiales</li>
        <li>Mercado puntos</li>
        <li>Vender</li>
      </ul>
    </nav>
  </section>

  <nav class="ulLinkLoginAndRegister">
    <ul>
      <li><a href="/users/login">Ingresá</a></li>
      <li><a href="/users/register">Creá tu cuenta</a></li>
    </ul>
  </nav>

  <section class="legales">
    <p>Términos y condiciones</p>
    <p>Cómo cuidamos tu privacidad</p>
    <p>Accesibilidad Información al usuario</p>
  </section>
</footer>
