<footer>
  <section>
    <ul>
      <li>
        Pagá con tarjeta o en efectivo Con Mercado Liebre Cash, tenés cuotas sin
        interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        Envío gratis desde $ 2.500
      </li>
      <li>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </li>
    </ul>
  </section>
  <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-tiktok"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <p>Todos los derechos reservados</p>
  <p>Mercadito liebre © 2023</p>
</footer>
