<footer>
  <div>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-tiktok"></i></a>
    <a href="#"><i class="fab fa-facebook-square"></i></a>
  </div>
  <p>Todos los derechos reservados</p>
  <p>Mercadito liebre © 2023</p>
</footer>
