<header class="headerMain">
  <div class="headerBox">
    <a href="/"><img class="imagenHeaderLogo" src="/img/logo-mercado-liebre.svg" /></a>
    <a href="/products">Lista de productos</a>
    <a href="/products/productAdd">Agregar un producto</a>
    <div>
      <i class="fas fa-bars"></i>
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="localication">
    <p><i class="fas fa-bars"></i> Enviar a Capital Federal</p>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</header>