<header>
           <a href="/"><img src="/img/logoMercaditoLiebre.svg" /></a>
           <a href="/misCompras">Mis compras</a>
           <a href="/miCuenta">Mi cuenta</a>
           <a href="/notificaciones/">Notificaciones</a>
           <a href="/ayuda">Ayuda</a>
           <a href="/buscar"><i class="fa fa-search"></i></a>
           <a href="/carrito"><i class="fas fa-shopping-cart"></i><a>
           <a href=""><i class="far fa-user-circle"></i></a>
           <button 
                   type="submit"><i class="fas fa-bars"><i>
           </button>
            <a href="/users/userLogin">Login</a>
            <a href="/users/userRegister">Registro</a>
</header>
