<header>
  <div class="headerBox">
    <a href="/"
      ><img class="imagenHeaderLogo" src="/img/logoMercaditoLiebre.svg"
    /></a>
    <p>Compra en cuotas y sin tarjeta de credito</p>
    <nav>
      <ul>
        <li><a href="/misCompras">Ofertas</a></li>
        <li><a href="/miCuenta">Tiendas oficiales</a></li>
        <li><a href="/notificaciones/">Vender</a></li>
        <li><a href="/ayuda">Ayuda</a></li>
      </ul>
    </nav>

    <ul>
      <li><a href="/users/Login">Ingresá</a></li>
      <li><a href="/users/Register">Crea tu cuenta</a></li>
      <li><a href="/users/Register">Mis cuentas</a></li>
    </ul>
  </div>
</header>
